{% extends "base.html" %}
{% block title %}{% endblock %}
{% block app_content %}
<div id="masthead">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>Welcome to E2ISA
          <p class="lead"></p>
        </h1>
      </div>
      <div class="col-md-5">
      </div>
    </div>
  </div><!-- /cont -->

  <div class="container">
    <div class="row">
      <div class="col-md-12">
           </div>
    </div>
  </div><!-- /cont -->

</div>


<div class="container">
  <div class="row">

    <div class="col-md-12">

      <div class="panel">
        <div class="panel-body">



          <!--/stories-->
          <div class="row">
            <br>
            <div class="col-md-2 col-sm-3 text-center">
              <a class="story-title" href="#"><img alt="" src="{{ url_for('static', filename='images/package.jpeg') }}" style="width:100px;height:100px" class="img-circle"></a>
            </div>
            <div class="col-md-10 col-sm-9">
              <h3>Expense App lets you add expenses and amount you spent
                            with specific type of expense.</h3>
              <div class="row">
                <div class="col-xs-9">
                  <h4><span class="label label-default">Expense</span></h4></div>
                <div class="col-xs-3"></div>
              </div>
              <br><br>
            </div>
          </div>
          <hr>

          <div class="row">
            <br>
            <div class="col-md-2 col-sm-3 text-center">
              <a class="story-title" href="#"><img alt="" src="{{ url_for('static', filename='images/invest.jpeg') }}" style="width:100px;height:100px" class="img-circle"></a>
            </div>
            <div class="col-md-10 col-sm-9">
              <h3>Investments are important and we should be always know where we invested what is due date and what are we getting out of these investments.</h3>
              <div class="row">
                <div class="col-xs-9">
                  <h4><span class="label label-default">Investment</span></h4></div>
                <div class="col-xs-3"></div>
              </div>
              <br><br>
            </div>
          </div>
          <hr>

          <div class="row">
            <br>
            <div class="col-md-2 col-sm-3 text-center">
              <a class="story-title" href="#"><img alt="" src="{{ url_for('static', filename='images/earning.jpeg') }}" style="width:100px;height:100px" class="img-circle"></a>
            </div>
            <div class="col-md-10 col-sm-9">
              <h3>  Earning app will add your earning sources to app so that
                            you can have your estimated earning per month and you can decide upon budget.</h3>
              <div class="row">
                <div class="col-xs-9">
                    <h4><span class="label label-default">Earnings</span></h4></div>

                <div class="col-xs-3"></div>
              </div>
              <br><br>
            </div>
          </div>
          <hr>

          <div class="row">
            <br>
            <div class="col-md-2 col-sm-3 text-center">
              <a class="story-title" href="#"><img alt="" src="{{ url_for('static', filename='images/sharebazar.jpeg') }}" style="width:100px;height:100px" class="img-circle"></a>
            </div>
            <div class="col-md-10 col-sm-9">
              <h3>Share market also one of investment option where you can look for long term returns on your investment ammount.
			</h3>
              <div class="row">
                <div class="col-xs-9">
                  <h4><span class="label label-default">ShareBazar</span></h4></div>
                <div class="col-xs-3"></div>
              </div>
              <br><br>
            </div>
          </div>
          <hr>

          <div class="row">
            <br>
            <div class="col-md-2 col-sm-3 text-center">
              <a class="story-title" href="#"><img alt="" src="{{ url_for('static', filename='images/analytics.jpeg') }}" style="width:100px;height:100px" class="img-circle"></a>
            </div>
            <div class="col-md-10 col-sm-9">
              <h3>Analytics on all data with fact and quality</h3>
              <div class="row">
                <div class="col-xs-9">
                  <h4><span class="label label-default">Analytics </span></h4></div>
                <div class="col-xs-3"></div>
              </div>
              <br><br>
            </div>
          </div>
          <hr>
          <!--/stories-->


          <a href="/" class="btn btn-primary pull-right btnNext">More <i class="glyphicon glyphicon-chevron-right"></i></a>


        </div>
      </div>



   	</div><!--/col-12-->
  </div>
</div>


<hr>

<div class="container" id="footer">
  <div class="row">
    <div class="col col-sm-12">

      <h1>Follow Us</h1>
      <div class="btn-group">
       <a class="btn btn-twitter btn-lg" href="#"><i class="icon-twitter icon-large"></i> Twitter</a>
	   <a class="btn btn-facebook btn-lg" href="#"><i class="icon-facebook icon-large"></i> Facebook</a>
	   <a class="btn btn-google-plus btn-lg" href="#"><i class="icon-google-plus icon-large"></i> Google+</a>
      </div>

    </div>
  </div>
</div>

<hr>

<hr>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <ul class="list-inline">
          <li><i class="icon-facebook icon-2x"></i></li>
          <li><i class="icon-twitter icon-2x"></i></li>
          <li><i class="icon-google-plus icon-2x"></i></li>
          <li><i class="icon-pinterest icon-2x"></i></li>
        </ul>

      </div>
      <div class="col-sm-6">
          <p class="pull-right">Built By <i class="icon-heart-empty"></i> Nirav Joshi <a href="http://www.ultroniot.com">UltronIOT</a></p>
      </div>
    </div>
  </div>
</footer>
{% endblock %}