{% extends "base.html" %}
{% block app_content %}

    <div class="col-md-4">
        <h1>E2ISA Share Edit</h1>

        <form class="form-inline" method="post" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            {{ form.csrf_token }}
            <input type="text" name="share_id" value="{{ request.args.get("share_id") }}" hidden>


            <p>
                Selected Person Name:<br>
                {{ form.Share_per_name(class='btn btn-secondary dropdown-toggle') }}
                {% for error in form.Share_per_name.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>

            <p>
                {{ form.Share_tick_name.label }}<br>
                {{ form.Share_tick_name(size=32,class='form-control') }}
                {% for error in form.Share_tick_name.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.Share_Count.label }}<br>
                {{ form.Share_Count(size=32,class='form-control') }}
                {% for error in form.Share_Count.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.Share_tran_type.label }}<br>
                {{ form.Share_tran_type(class='btn btn-secondary dropdown-toggle') }}
                {% for error in form.Share_tran_type.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.Share_pershare_amt.label }}<br>
                {{ form.Share_pershare_amt(size=32,class='form-control') }}
                {% for error in form.Share_pershare_amt.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>

            <p>
                {{ form.Share_SellBuy_date.label }}<br>
                {{ form.Share_SellBuy_date(class='datepicker') }}
                {% for error in form.Share_SellBuy_date.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>


            <p>
                {{ form.Share_img.label }}<br>
                {{ form.Share_img (class='form-control') }}
                {% for error in form.Share_img.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.Share_comm.label }}<br>
                {{ form.Share_comm (class='form-control') }}
                {% for error in form.Share_comm.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>

            <p>{{ form.submit(class='btn btn-primary') }}</p>
        </form>

        <form class="form-inline" action="/shares/DeleteShare">

            {{ form.csrf_token }}
            <input type="text" name="DelShare_id" value="{{ request.args.get("share_id") }}" hidden>

            {{ form.Delete(class='btn btn-primary') }}
        </form>

    </div>
{% endblock %}